html{
    min-height:min-content;
    background:#ecf0f1;
}

.main{
    background-color: #332f2f;
    padding:32px 0px;
    background:#f8f8f8;
    border:3px dashed #332f2f;
    border-radius: 12px;
    margin:25px 5px;
    outline: none;
    cursor: pointer;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-content: center;

}
.main:hover{
    border:3px dashed #397f8bec;
}
.file{
    text-align: center;
}
.result{
    width: 550px;
    height: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 130px 0 10px -160px;
    z-index: 10;
}
.spiner{
    position: absolute;
    top: 50%;
    left: 60%;
    margin: 130px 0 10px -160px;
}